<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
<body>
 
 <div class="jumbotron">
  <h1>MotoBike!</h1>
  <p>MotoBike is a peer to peer application for hire a bike or rent your bike</p>
 </div>
 
    
     
             
             <h2> <div class="button-link">  <%=link_to('Hire a Motercycle ', bikes_path) %></div></h2>
	 
             
             <h2> <div class="button-link"> <%=link_to('Register Motercycle  ', new_bike_path) %> </div></h2>
         
        
        
       
 
 
   
   
 
 
</body>
</html>
