
<h1>your Bike </h1>

<table>
 <tr>
    <th><p> Bike Name  </p></th>
    <th> <%=@bike.bikename %></th>
</tr>
<tr>
    <th><p> Bike Name  </p></th>
    <th> <%=@bike.biketype %></th>
</tr>
<tr>
    <th><p> Bike Type </p></th>
    <th> <%=@bike.bikemodel %> </th>
</tr>
</table>




